.foot {
  background-color: var(--color-lg);
}
.foot .inner {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foot .inner > * {
  border: 5px solid lightblue;
}

.foot nav,
.foot .outside {
  display: flex;
}
.foot .outside {
  padding-right: 120px;
}
.foot nav a {
  color: var(--color-wh);
  padding: 2rem 2rem 2rem 0;
}

.foot .outside a {
  padding: 2rem 2rem 2rem 0;
}

.foot .copy {
  width: 100%;
  border-top: 1px solid #999;
  padding: 1rem 0;
  display: flex;
  gap: 80px;
}
.foot .copy img {
  height: 80px;
}
.foot .family {
  position: absolute;
  right: 0;
  top: 2rem;
}

.foot .family ul {
  display: none;
}

@media (max-width: 800px) {
  .foot .inner > * {
    width: 100%;
  }
  .foot nav,
  .foot .outside {
    justify-content: center;
  }
  .foot .outside {
    padding-right: 0;
  }
  .foot .copy {
    display: block;
    text-align: center;
  }
  .foot .family {
    position: static;
    text-align: center;
  }
}
