/* sec1 .mainVisual 영역 시작 */
.mainVisual .inner {
  position: relative;
  padding-bottom: 150px;
}
.mainVisual .card {
  position: relative;
  padding-top: 40%;
  background-color: white;
}
.mainVisual .card > * {
  position: absolute;
}
.mainVisual .card h3 {
  left: 0;
  top: 10%;
  font-family: "GmarketSansBold";
  color: var(--color-mb);
  z-index: 10;
}
.mainVisual .card h3 > * {
  display: block;
}
.mainVisual .card span {
  font-size: 30px;
  margin-bottom: 1rem;
}
.mainVisual .card strong {
  font-size: 58px;
  line-height: 1;
}
.mainVisual .card img {
  width: 50%;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.mainVisual .mainSlide {
  overflow: visible;
}
.mainVisual .mainSlide .swiper-pagination-bullet {
  border-radius: 0;
  height: 1px;
  width: 0px;
  margin: 0 10px;
  text-align: right;
  line-height: 0px;
  text-indent: 20px;
  /* direction: ltr; */
}

.mainVisual .mainSlide .swiper-pagination-bullet-active {
  background-color: var(--color-mb);
  width: 40px;
  text-indent: 40px;
}

.mainVisual .pg1 {
  bottom: -30px;
  width: auto;
}

.mainVisual .quick {
  background-color: var(--color-sb);
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  font-family: "GmarketSansMedium";
  padding: 0 2rem;
}
.mainVisual .quick > a {
  padding: 2rem;
  font-size: 1.8rem;
  flex-grow: 1;
  white-space: nowrap;
}
.mainVisual .quick > a i {
  opacity: 0;
  transition: 0.3s;
  transform: translateX(0);
}
.mainVisual .quick > a:hover i {
  opacity: 1;
  transform: translateX(10px);
}
@media (max-width: 1200px) {
  .mainVisual .quick a {
    font-size: 1.5rem;
  }
}
@media (max-width: 1100px) {
  .mainVisual .quick {
    flex-wrap: wrap;
    background-color: transparent;
  }
  .mainVisual .quick > a {
    font-size: 1.2rem;
    width: calc(50% - 4px);
    border: 1px solid white;
    margin: 2px;
    background-color: var(--color-sb);
    border-radius: var(--gap);
  }
}

@media (max-width: 800px) {
  .mainVisual .card {
    padding-top: 60%;
  }
  .mainVisual h3 {
    padding-left: 50px;
  }
  .mainVisual strong {
    font-size: 2.5rem !important;
  }
  .mainVisual span {
    font-size: 1rem !important;
  }
  .mainVisual img {
    width: 50% !important;
    right: 0 !important;
    transform: translateY(0) !important;
  }
  .mainVisual .quick {
    position: static;
    transform: translateY(20%) !important;
  }
  .mainVisual .quick > a {
    width: 100%;
  }
}
