.space {
  padding: 100px 0;
}
.space .inner {
  position: relative;
}
.space img {
  width: 40%;
  position: absolute;
  right: 0;
  top: 150px;
  opacity: 0;
}

.space li:first-of-type img {
  opacity: 1;
}
.spaceList {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10%;
  margin-top: 40px;
}
.spaceList li {
}

.spaceList li:nth-of-type(2) {
  /* flex-grow: 1; */
  width: 60%;
}

.spaceList li span {
  display: inline-block;
  background-color: var(--color-wh);
  padding: 1rem 2rem;
  font-size: 20px;
  color: var(--color-mb);
  border-radius: 1rem;
  margin: 0 5px 16px 0;
  border: 1px solid var(--color-mb);
  transition: 0.3s;
}
.spaceList li span:hover {
  background-color: var(--color-mb);
  color: var(--color-wh);
}
.spaceList li span:hover + img {
  opacity: 1;
}

@media (max-width: 800px) {
  .space img {
    width: 100%;
  }
  .spaceList {
    padding-top: 70%;
    width: 100%;
  }
  .spaceList li {
    width: auto !important;
  }
}
